table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
padding: 15px;
border-bottom: 1px solid #ddd;
}

input,select {
  height: 20px;
}


.task-form {
  width: 250px;
  margin: left auto;
}

