table {
  border-collapse: collapse;
  width: 100%;
}
td, th {
padding: 5px;
border-bottom: 1px solid #ddd;
}

input{
  height: 20px;
}

.selectLabel {
  height: 30px;
  width: 173px;
}


.task-form {
  width: 250px;
  margin: left auto;
}

