.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
h3{
    font-size: 25px;
    font-weight: bold;
}
.form {
    background: #f2f2f7;
    width: 400px;
}
.btn {
    color: #ffffff;
    background-color:rgb(45, 152, 255);
}
.link{
    color: rgb(45, 152, 255);
    font-size: 17px;
}

.link:hover {
    color: rgb(0, 88, 180);
}